$title_fonts: 'VT323', Garamond, 'Hoefler Text', Palatino, 'Palatino Linotype', serif;
$body_fonts: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

$color_primary: #F0F0D8;
$color_secondary: #666666;
$color_a: #B4DEBE;
$color_b: #77CCA4;
$color_c: #B4DF37;

$small_screen: "only screen and (max-width: 600px)";

body {
  font-family: $body_fonts;
  height: 100%;
  background: $color_primary;
  color: $color_secondary;
}

a {
  text-decoration: none;
  color: $color_secondary;
  padding: 3px 7px;
  background-color:  $color_a;
}

a:link,
a:visited {
  color: $color_secondary;
}

a:hover,
a:active {
  background-color:  $color_a;
}

h1, h2, h3, h4, h5 {
  font-family: $title_fonts;
  font-weight: normal;
  font-size: 2.8em;
}

h2, h3, h4, h5 {
  font-size: 3em;
}

.wrapper {
  width: 90%;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;

  @media #{$small_screen} {
      display: block;
  }
}

.row {
  grid-column: 1 / 3;
}

header {
  margin: 2rem 0 0 0;
  height: 3rem;
}

.logo {
  float: left;
  margin: 0;
  font-size: 1.6em;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline;
}


.post {
    min-height: 20rem;
    margin: 0.2rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
}

.post h3 {
    height: 300px;
    color: $color_primary;
}
