$title_fonts: 'VT323', Garamond, 'Hoefler Text', Palatino, 'Palatino Linotype', serif;
$body_fonts: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

$color_primary: #F0F0D8;
$color_secondary: #666666;
$color_a: #B4DEBE;
$color_b: #77CCA4;
$color_c: #B4DF37;

$small_screen: "only screen and (max-width: 60rem)";

body {
  font-family: $body_fonts;
  height: 100%;
  background: $color_primary;
  color: $color_secondary;
}

a {
  text-decoration: none;
  color: $color_secondary;
  padding: 3px 7px;
  background-color:  $color_a;
}

a:link,
a:visited {
  color: $color_secondary;
}

a:hover,
a:active {
  background-color:  $color_a;
}

.logo a,
.logo a:hover,
.logo a:active,
.image-detail,
.image-detail:hover,
.image-detail:active {
    background: none;
}

h1, h2, h3, h4, h5 {
  font-family: $title_fonts;
  font-weight: normal;
  font-size: 2.8em;
}

h2, h3, h4, h5 {
  font-size: 3em;
}

pre {
  padding: 2rem;
  overflow: scroll;
}

p {
  line-height: 1.8rem;
}

img {
    width: 100%;
}

.wrapper {
  width: 90%;
  max-width: 62rem;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;

  @media #{$small_screen} {
      display: block;
  }
}

.row {
  grid-column: 1 / 3;
}

header {
  margin: 2rem 0 0 0;
  height: 3rem;
}

.logo {
  float: left;
  margin: 0;
  font-size: 1.6em;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline;
}


.post {
    min-height: 20rem;
    min-width: 15rem;
    margin: 0.2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.post h3 {
    height: 300px;
    color: $color_primary;
}

.quote {
    font-weight: light;
    font-style: italic;
    font-size: 1.5rem;
}

.date {
    font-weight: light;
    font-size: 1rem;
    font-style: italic;
}

.youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
